body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
.product-section-subtitle,
.product-section-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 1.2;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: "";
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

h2 {
  font-size: 22px;
}

body {
  height: 100vh;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
}

header {
  height: 80px;
  width: 100%;
  background-color: #005E97;
}

.header .logo_brand img {
  width: 150px;
}

.header .logo_brand h1 {
  font-size: 10px;
  font-weight: 200;
}

.header .form i {
  position: absolute;
  color: #005E97;
}

.header .form .icon {
  padding: 10px;
  min-width: 40px;
}

.header .form .input {
  border: none;
  border-radius: 8px;
  -webkit-box-flex: 2;
          flex: 2 100px;
  height: 35px;
  padding-left: 30px;
}

.header .navbar-collapse .nav-item {
  display: inline-block;
}

.header .navbar-collapse .nav-item a {
  margin-left: 0;
  color: white;
  font-weight: 200;
  font-size: 15px;
}

.header .navbar-collapse .nav-item img {
  width: 30px;
}

.header .navbar-collapse .login {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 8px;
}

.header .navbar-collapse .login img {
  width: 30px;
  height: 30px;
}

.send-message {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

.send-message .text-send {
  font-weight: bold;
  font-size: 14px;
  color: #005E97;
  margin: 0;
}

.send-message img {
  height: 30px;
  width: auto;
  color: #005E97;
  margin-left: 2px;
  border-image-width: 30px;
}

