body{
    height: 100vh;
    padding: 0;
    flex-flow: column;
}

header{
    width: 100%;

    background-color: #005E97;
}

.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin: 0 20px;
    .nav-brand {
        img {
            width: 150px;
        }
        h1 {
            font-size: 10px;
        }
    }
    .navbar{
        .navbar-collapse{
            .nav-item{
                a {
                    color:white;
                }
            }
        }
    }
    .form-inline{
        .input{
            border: 2px solid white;
            border-radius: 5px;
            flex: 2 100px;
        }
    }
}


